[data-theme="dark"]{
    --app-bg: #0d1118;
    --danger: #ff7272;
    --warning: #f0ad45;
    --success: #39c99a;
    --primary: #7198ff;
    --muted: #99a7ba;
    --text: #edf2f8;
    --border: #2C394B;
    --entity-item-bg: #171E28;
    --entity-item-category: #283B66;
    --entity-text-1: #98A3B5;
    --entity-text-2: #83A3FF;
    --entity-text-3: #94A2B5;
    --tag-bg: #293646;
    --shadow: 2px 2px 8px 0 color-mix(in srgb, var(--primary) 16%, transparent) inset;


}

[data-theme="light"]{
    --app-bg: #e0e2e4;
    --danger: #d44343;
    --warning: #c47608;
    --success: #138a62;
    --primary: #2856ca;
    --muted: #667085;
    --text: #172033;
    --border: #c4c8ce;
    --entity-item-bg: #ffffff;
    --entity-item-category: #E6EDFF;
    --entity-item-category-text: #83A3FF;
    --entity-text-1: #94A2B5;
    --entity-text-2: #94A2B5;
    --entity-text-3: #94A2B5;
    --tag-bg: #D1D9E4;
    --shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.3) inset;



}

:root{
  --outer-border: 10px;
  --padding: 20px;
  --inner-border: calc(var(--outer-border) - var(--padding));
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--text)
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  scrollbar-width: none;
  flex-grow: 1;






  .card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--entity-item-bg);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,0);
  transition: border .4s ease;


  &:hover{
    border: 2px solid var(--primary);
  }
  
  .card-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;

    .card-title{
      border: 0;
      background: transparent;  
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--text); 
    }
    .card-category{
      background-color: var(--entity-item-category);
      padding: 5px 8px;
      border-radius: 5px;
    }
  }
  
  .card-description{
    background: transparent;
    border: 0;
    text-align: left;
    white-space: pre-wrap;
    color: var(--entity-text-1); 
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Количество строк */
    line-clamp: 3;         /* Стандартное свойство */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-tags{
    display: flex;
    flex-direction: row;
    gap: 5px;

    .tag{
    background-color: var(--tag-bg);
    color: var(--entity-text-1);
    padding: 5px 5px;
    border-radius: 5px;

    &::before{
      content: "#";
    }
    }
  }
  .card-tools{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    padding-top: 10px;
    border-top: 1px solid var(--border);
  }
}
}

button{
  background-color: red;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: var(--text);
  transition: background-color .4s ease;

  &.primary{
    padding: 9px 14px;
    background-color: color-mix(in srgb, var(--primary) 16%, transparent);
    color: var(--primary);

    &:hover{
      background-color: color-mix(in srgb, var(--primary) 25%, transparent);
      border: 1px solid var(--primary);
    }
  }
  
  &.save{
    padding: 9px 14px;
    background-color: color-mix(in srgb, var(--success) 16%, transparent);
    color: var(--success);

    &:hover{
      background-color: color-mix(in srgb, var(--success) 25%, transparent);
      border: 1px solid var(--success);
    }
  }

  &.delete{
    padding: 9px 14px;
    background-color: color-mix(in srgb, var(--danger) 16%, transparent);
    color: var(--danger);

    &:hover{
      background-color: color-mix(in srgb, var(--danger) 25%, transparent);
      border: 1px solid var(--danger);
    }
  }

  &.edit{
    padding: 9px 14px;
    background-color: color-mix(in srgb, var(--warning) 16%, transparent);
    color: var(--warning);

    &:hover{
      background-color: color-mix(in srgb, var(--warning) 25%, transparent);
      border: 1px solid var(--warning);
    }
  }

  &.info{
    padding: 9px 14px;
    background: transparent;
    color: var(--text);
    
    &.active{
      border: 1px solid var(--primary);
      color: var(--primary);
    }
  }
}

aside{
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 5px 5px 0;
  min-width: 300px;
  max-width: 300px;

  .sidebar-categories{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .category-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--border);
      padding-bottom: 5px;

    }
    .filter-form{
      
      &.editing-layout{

        .edit-list{
          display: flex;
          flex-direction: column;
          gap: 10px;
          /* background-color: green; */
          padding-bottom: 5px;

          .edit-item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            padding: 10px 15px;
            border-radius: 5px;
            background-color: var(--entity-item-bg);
            color: var(--text);
            border: 2px solid var(--border);
            transition: border .4s ease;

            &:hover{
              border: 2px solid var(--primary);

            }
            button{
              background: transparent;
              font-size: large;
              transition: background-color .4s ease;
              padding: 0;
              width: 25px;
              height: 100%;


              &:hover{
                background-color: color-mix(in srgb, var(--danger) 16%, transparent);
                color: var(--danger);
              }
            }
          }
          .add-cat-box{
            display: flex;
            flex-direction: row;
            gap: 10px;
            input{
              color: var(--text);
              border-radius: 5px;
              background-color: var(--entity-item-bg);
              border: 2px solid var(--border);
              flex-grow: 1;
              background-color: --;

              &:focus{
                outline: 1px solid var(--primary);
              }
            }
            button{
              font-size: 34px;
              padding: 0;
              width: 50px;

            }
          }
        }
      }
    }
  }
}

input, textarea, select{
		outline: none;
		border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
		padding: 11px 5px;
		flex-grow: 0;
		font-size: large;
		color: var(--text-color);
		min-width: 100px;
		background-color: var(--entity-item-bg);
		color: var(--text);

		&:focus{
			outline: 1px solid var(--primary);
		}
	}



#app{
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 100svh;
  background-color: var(--app-bg);
  padding: 5px;

}


@media (max-width: 600px){
  #app{
    display: flex;
    flex-direction: column;
  }
  aside{
    border: 0;
  }
}